In [5]:
import numpy as np
import pandas as pd

data = pd.read_csv('FINANCE.csv')
print(data)

   ACCT_NUM  PRODUCT     MONTH  REVENUE
0   9994523      VEG   January     50.0
1   9994523  HOT DOG  February     40.0
2   9994523      VEG  February     55.0
3   9994523   COOKIE  February     10.0
4   9996984      VEG     March     60.0
5   9996427      NaN   January     15.0
6   9993644  HOT DOG  February     35.0
7   9993644    FRIES  February      2.0
8   9993644  HOT DOG     March     40.0

In [35]:
#data.insert(loc = 2, column = 'PROD2', value = '')
conditions = [
    
    (data['PRODUCT']=='VEG'),
    (data['PRODUCT']=='HOT DOG'),
    (data['PRODUCT']== 'COOKIE')

    
]
Values = ['Vegetable','Hot Dog','Cookie']
data['PROD2']=np.select(conditions, Values)
data['PROD2']=data['PROD2'].replace('0', 'Other')

print(data)

   ACCT_NUM  PRODUCT      PROD2     MONTH  REVENUE
0   9994523      VEG  Vegetable   January     50.0
1   9994523  HOT DOG    Hot Dog  February     40.0
2   9994523      VEG  Vegetable  February     55.0
3   9994523   COOKIE     Cookie  February     10.0
4   9996984      VEG  Vegetable     March     60.0
5   9996427      NaN      Other   January     15.0
6   9993644  HOT DOG    Hot Dog  February     35.0
7   9993644    FRIES      Other  February      2.0
8   9993644  HOT DOG    Hot Dog     March     40.0

In [36]:
data = pd.read_csv('FINANCE.csv')
print(data)

   ACCT_NUM  PRODUCT     MONTH  REVENUE
0   9994523      VEG   January     50.0
1   9994523  HOT DOG  February     40.0
2   9994523      VEG  February     55.0
3   9994523   COOKIE  February     10.0
4   9996984      VEG     March     60.0
5   9996427      NaN   January     15.0
6   9993644  HOT DOG  February     35.0
7   9993644    FRIES  February      2.0
8   9993644  HOT DOG     March     40.0

In [68]:
Feb = data.loc[data['MONTH']=='February']
acct = Feb.loc[data['ACCT_NUM']== 9994523]

print(acct)

   ACCT_NUM  PRODUCT     MONTH  REVENUE
1   9994523  HOT DOG  February     40.0
2   9994523      VEG  February     55.0
3   9994523   COOKIE  February     10.0

In [70]:
data2 = pd.read_csv('ACCOUNT_GENDER.csv')
data = pd.read_csv('FINANCE.csv')
print(data)
print(data2)

   ACCT_NUM  PRODUCT     MONTH  REVENUE
0   9994523      VEG   January     50.0
1   9994523  HOT DOG  February     40.0
2   9994523      VEG  February     55.0
3   9994523   COOKIE  February     10.0
4   9996984      VEG     March     60.0
5   9996427      NaN   January     15.0
6   9993644  HOT DOG  February     35.0
7   9993644    FRIES  February      2.0
8   9993644  HOT DOG     March     40.0
   ACCT_NUM  GENDER
0   9994523    MALE
1   9996984  FEMALE
2   9996427  FEMALE
3   9993644    MALE
4   9995725    MALE
5   9993245  FEMALE
6   9993727  FEMALE

In [111]:
data3 = pd.merge(data2, data, on =['ACCT_NUM'])
column = data3.pop('GENDER')

data3.insert(2, 'GENDER', column)

print(data3)

KeyError: 'GENDER'

In [79]:
data = pd.read_csv('REVENUE01.csv')
data2 = pd.read_csv('REVENUE02.csv')
print(data)

     MONTH  ACCT_NUM  PRODUCT  REVENUE
0  January   9994523      VEG       50
1  January   9994523  HOT DOG       40
2  January   9993644  HOT DOG       35
3  January   9993644    FRIES        2
4  January   9996984      VEG       60
5  January   9996427      NaN       15

In [80]:
dataframes = [data, data2]
combine = pd.concat(dataframes)
print(combine)

      MONTH  ACCT_NUM  PRODUCT  REVENUE
0   January   9994523      VEG       50
1   January   9994523  HOT DOG       40
2   January   9993644  HOT DOG       35
3   January   9993644    FRIES        2
4   January   9996984      VEG       60
5   January   9996427      NaN       15
0  February   9994523      VEG       50
1  February   9994523  HOT DOG       40
2  February   9993644  HOT DOG       35
3  February   9993644    FRIES        2
4  February   9996984      VEG       60
5  February   9996427      NaN       15

In [82]:
combine.groupby(['ACCT_NUM']).sum()

          REVENUE
ACCT_NUM
9993644        74
9994523       180
9996427        30
9996984       120

In [118]:
data = pd.read_csv('WIFI-LOGIN.csv')
print(data)

       MONTH  ACCT_NUM    LOCATION  START_TIME  END_TIME
0    January   9994523        MALL           3         5
1    January   9994523        MALL           2         3
2    January   9993644  FOOD TRUCK           3         9
3    January   9993644  RESTAURANT          12        13
4    January   9996984        CAFE           3         4
5    January   9996427        MALL           8         9
6   February   9994523        MALL          11        17
7   February   9994523  FOOD TRUCK           9        12
8   February   9993644  RESTAURANT           3         9
9   February   9993644  RESTAURANT           7         9
10  February   9996984        CAFE           7         8
11  February   9996427        MALL          10        13

In [161]:
unique = data.groupby(['MONTH', 'LOCATION']).nunique()
unique = unique.reset_index()
drop = data.drop_duplicates(['LOCATION', 'MONTH'])
drop = drop.drop(['START_TIME','END_TIME'], axis=1)
unique = unique.drop(['START_TIME','END_TIME'], axis=1)
unique = unique.rename(columns={'ACCT_NUM': 'UNIQUE_VIEWERS'})
final = pd.merge(drop, unique, on = ['MONTH', 'LOCATION'])
final = final.drop(['ACCT_NUM'], axis =1)
print(final)

      MONTH    LOCATION  UNIQUE_VIEWERS
0   January        MALL               2
1   January  FOOD TRUCK               1
2   January  RESTAURANT               1
3   January        CAFE               1
4  February        MALL               2
5  February  FOOD TRUCK               1
6  February  RESTAURANT               1
7  February        CAFE               1

In [162]:
data = pd.read_csv('REVENUE001.csv')
print(data)

   ACCT_NUM PRODUCT  Date_local  CURRENTDAY
0         C  HOTDOG  2015-04-22        2.37
1         C  HOTDOG  2015-04-23        1.52
2         C  HOTDOG  2015-04-24        0.28
3         C  HOTDOG  2015-04-25        0.62
4         C  HOTDOG  2015-04-26        7.73
5         C  HOTDOG  2015-04-27        0.25
6         C  HOTDOG  2015-04-28        1.38
7         C  HOTDOG  2015-04-29        1.72
8         C  HOTDOG  2015-04-30        0.10
9         C  HOTDOG  2015-05-01        0.30
10        C  HOTDOG  2015-05-02        0.63

In [167]:
previous = data['CURRENTDAY'].shift(1)
nextday = data['CURRENTDAY'].shift(-1)
data['PREVIOUSDAY']= previous
data['NEXTDAY']= nextday
print(data)

   ACCT_NUM PRODUCT  Date_local  CURRENTDAY  PREVIOUSDAY  NEXTDAY
0         C  HOTDOG  2015-04-22        2.37          NaN     1.52
1         C  HOTDOG  2015-04-23        1.52         2.37     0.28
2         C  HOTDOG  2015-04-24        0.28         1.52     0.62
3         C  HOTDOG  2015-04-25        0.62         0.28     7.73
4         C  HOTDOG  2015-04-26        7.73         0.62     0.25
5         C  HOTDOG  2015-04-27        0.25         7.73     1.38
6         C  HOTDOG  2015-04-28        1.38         0.25     1.72
7         C  HOTDOG  2015-04-29        1.72         1.38     0.10
8         C  HOTDOG  2015-04-30        0.10         1.72     0.30
9         C  HOTDOG  2015-05-01        0.30         0.10     0.63
10        C  HOTDOG  2015-05-02        0.63         0.30      NaN

In [278]:
data = pd.read_csv('REVENUE002.csv')

print(data)

   ACCT_NUM        DATE  REVENUE
0         A  2015-04-22    23.70
1         B  2015-04-23    15.20
2         C  2015-04-24     2.80
3         D  2015-04-25     6.20
4         E  2015-04-26    77.30
5         F  2015-04-27     2.50
6         G  2015-04-28    13.80
7         A  2015-05-22    23.70
8         B  2015-05-23    15.20
9         C  2015-05-24    40.50
10        D  2015-05-25     6.20
11        E  2015-05-26     7.75
12        F  2015-05-27     2.50
13        G  2015-05-28    13.80

In [281]:
data.insert(1, 'MONTH_END', value='')
conditions=[
    (data['DATE']<= '2015-04-30'),
    (data['DATE']>='2015-04-30')   
]
value = ['2015-04-30', '2015-05-31']
data['MONTH_END'] = np.select(conditions, value)
group = data.groupby(['MONTH_END']).rank(ascending = False)
data['Rank'] = group
data = data.sort_values(by=['MONTH_END', 'Rank'])
data = data[data['Rank']<=3]
final = data[['ACCT_NUM','MONTH_END','REVENUE','Rank']]
print(final)

  ACCT_NUM   MONTH_END  REVENUE  Rank
4        E  2015-04-30     77.3   1.0
0        A  2015-04-30     23.7   2.0
1        B  2015-04-30     15.2   3.0
9        C  2015-05-31     40.5   1.0
7        A  2015-05-31     23.7   2.0
8        B  2015-05-31     15.2   3.0

In [294]:
data = pd.read_csv('CALLS_APR.csv')
data2 = pd.read_csv('PURCHASES_MAR.csv')
data2 = data2.drop_duplicates(['PURCHASE_DATE'])
print(data)
print(data2)

   ACCT_NUM   CALL_DATE
0         A  2015-04-12
1         B  2015-04-13
2         C  2015-04-14
3         D  2015-04-15
4         E  2015-04-16
5         F  2015-04-17
6         A  2015-04-27
7         B  2015-04-28
8         C  2015-04-29
9         D  2015-04-30
10        E  2015-04-26
11        F  2015-04-27
  ACCT_NUM PURCHASE_DATE
0        A    2015-03-23
1        B    2015-03-24

In [310]:
data3 = pd.merge(data, data2, on =['ACCT_NUM'], how='left')
conditions = [
    
    (data3['CALL_DATE'] > data3['PURCHASE_DATE']),
    (data3['CALL_DATE'] < data3['PURCHASE_DATE'])
]
value = ['Y','N']
data3['PRIOR_MONTH_PURCHASE'] = np.select(conditions, value)
data3['PRIOR_MONTH_PURCHASE'] = data3['PRIOR_MONTH_PURCHASE'].replace(['0'],'N')
final = data3[['ACCT_NUM','CALL_DATE','PRIOR_MONTH_PURCHASE']]
print(final)

   ACCT_NUM   CALL_DATE PRIOR_MONTH_PURCHASE
0         A  2015-04-12                    Y
1         B  2015-04-13                    Y
2         C  2015-04-14                    N
3         D  2015-04-15                    N
4         E  2015-04-16                    N
5         F  2015-04-17                    N
6         A  2015-04-27                    Y
7         B  2015-04-28                    Y
8         C  2015-04-29                    N
9         D  2015-04-30                    N
10        E  2015-04-26                    N
11        F  2015-04-27                    N